*.class

src/ch/ethz/inf/dbproject/sqlRevisited/RelAlgebraOperator.java

./.classpath

.classpath

.classpath

.settings/org.eclipse.jdt.core.prefs

.settings/org.eclipse.wst.common.project.facet.core.xml

Database/SQLRevisited.md

Database/User.md
